{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<div class="page page--admin">
		<main class="container">
			<div class="row">
			<h1>Liste des messages</h1>
				<div class="accordion" id="feed-container">
					{% include "admin/includes/_message_feed.html.twig" with { 'messageFeeds' : messageFeeds } only %}
				</div>
				{% if maxPagination is defined and maxPagination > 1 %}
					<nav class="row mt-4 mx-auto" aria-label="Pagination">
						<ul class="pagination">
							<li id="page-prev" class="page-item" data-page="{{ paginationActive - 1 }}" data-maxpagination="{{ maxPagination }}">
								<a class="page-link" href="#" rel="prev">Précédent</a>
							</li>
							{% for item in 1..maxPagination %}
								<li class="page-item {{ loop.index == 1 ? 'active' : '' }}" data-page="{{ loop.index }}" data-maxpagination="{{ maxPagination }}">
									<a class="page-link" href="#" >{{ loop.index }}</a>
								</li>
							{% endfor %}
							<li id="page-next" class="page-item" data-page="{{ paginationActive + 1 }}" data-maxpagination="{{ maxPagination }}">
								<a class="page-link" href="#" rel="next">Suivant</a>
							</li>
						</ul>
					</nav>
				{% endif %}
			</div>
		</main>
	</div>

{% endblock %}
